body {
  background: #0a0a0a;
  color: #ffffff;
}

/* .section {
    padding: 50px 0;
  } */

.text-primary {
  color: #00d8ff !important;
}

/* .container {
    max-width: 1200px;
    margin: 0 auto;
  } */

.project-card {
  background: rgba(0, 0, 0, 0.1);
  border: none;
  color: #ffffff;
  backdrop-filter: blur(10px);
  box-shadow: 1px 2px 3px #00d8ff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: scale(1.01);
  box-shadow: 1px 2px 30px #00d8ff;
}

.carousel-inner {
  padding: 0 15px;
}

.carousel-item {
  transition: transform 0.6s ease, opacity 0.6s ease;
  position: relative;
  width: 100%;
}

.carousel-item img {
  width: 100%;
  height: auto;
  max-height: 400px;
  opacity: 0.5;
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.carousel-item.active img {
  opacity: 1;
  transform: scale(1.1);
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #00d8ff;
  border-radius: 50%;
  padding: 10px;
}

.card-body {
  padding: 1rem;
}

.card-title {
  color: #00d8ff;
}

.card-text {
  color: #ffffff;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .carousel-inner {
    padding: 0;
  }

  .carousel-item img {
    width: 100%;
    height: auto;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 10%;
  }
}

.links {
  text-decoration: none;
  cursor: pointer;
  
}